@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Mirza&display=swap');


/*
/============FONT ============/
font-family: 'El Messiri', sans-serif; <= body
font-family: 'Mirza', cursive; <=header
/===================================/


/=========================/
/====== COLOR ============/
red (for header)  #ab0421
light yellow/gold (main borders) #dbcb86
bond (background) #ddcfc5
old paper (background) #927350
body font #080c15
*/

body {
  padding: 1vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/paper_background.jpeg');
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #080c15;
}

.Main_App{
  background-image: url('./img/white_paper_background.jpeg');
  padding: 1vh;
}



/*====================================================================================================*/
/***********************************************HEADER************************************************/
/*====================================================================================================*/

.link{
  font-family: 'El Messiri', sans-serif; ;
  color: #080c15;
}

.meloras_root{
  font-family: 'Mirza', cursive;
  color: #ab0421;
  
}


.header_wrapper{
  display: flex;
  flex-direction: column;
}

.render_links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.user_page ,.character_creator , .header_logout, .header_login{
  font-weight: bolder;
}

.app_header{
  border-bottom: black solid thin ;
}

.character_creator{

}

.header_logout{

}

.header_login{
  
}

/*==============================================================================================================================================*/
/*=========================================================== HOME PAGE ========================================================================*/
/*==============================================================================================================================================*/


.introduction{
  padding: 20px; 
}

.introduction > p {
  margin: 0 ;
  font-family: 'El Messiri', sans-serif;
}

.home__wrapper,.character__table, .table__header  {

}

/*==============================================================================================================================================*/

/*===============================================================================================================================================*/
/*===========================================================USER PAGE =========================================================================*/
/*===============================================================================================================================================*/

.user__page{
  font-family: 'El Messiri', sans-serif; 
}

.user__info_wrapper{
  background-image: url('./img/white_paper_background.jpeg');
}

img{
  height: 10vh;
  width: 10vh;
  border-radius: 10vh;
}

.user_label{
  font-size: 2vh;
  font-weight: bolder;
  color: #ab0421;
}

/*=================================================================================================================================================*/

/*=================================================================================================================================================*/
/*=========================================================CHARACTER TABLE=========================================================================*/
/*=================================================================================================================================================*/




.character_name, .race , .background, .alignment{
  padding: 0.1rem;
  width: 25%;
  font-size: 3.5vw;
  text-align: center;
}

.row-content , .info_cap {
  margin: 0.5vmin;
}

.info_cap{
  font-weight: bolder;
  color: #080c15;
}

.row-content{
  background-color: #ccc8c5;
}

.character__table{
  
  display: flex;
  flex-direction: column;
  width: 100%; 
  font-family: 'El Messiri', sans-serif ;
  color: #080c15;
}

.table__header{
  display: flex;
}

.table_row{

}

.row__wrapper {
  display: flex;
  flex-direction: row;
}

.info_cap {
  font-family: 'Mirza', cursive ;
}

.row_content , .info_cap {
  display: flex;
  flex-direction: row;
}
/*==============================================================================================================================================*/


/*===============================================================================================================================================*/
/*==================================================CHARACTER CREATOR============================================================================*/
/*===============================================================================================================================================*/

.form_wrap{
  display: flex;
  flex-direction: column;
}
.p_an_b_form{
  margin: .25rem;
  display: flex;
  flex-direction: column;
}

.form{
  padding: .5 rem;
  align-self: center;
  width: 95%;;
}

.personality_form{
  height: 5rem;
  /* width: 46vmax; */
}
/*================================================================================================================================================*/

/*================================================================================================================================================*/
/*=========================================================CHARACTER DETAILS======================================================================*/
/*================================================================================================================================================*/

.Character_full{
  margin: 5vw;
}

section > h3 {
  font-size: 3vh;
  font-family: 'Mirza', cursive ;
  text-align: center;
}

div.Character_full > h4{
  text-align: center;
  font-size: 4vh;
}

.char_personality{
  overflow-wrap: break-word;
  font-size: 2vh;
  font-family: 'El Messiri', sans-serif;
}

.details{
  margin: 5px;
}

.char_per_details{
  font-family: 'Mirza', cursive ;
  color: #ab0421;
  font-size:  24px;
}



/*===============================================================================================================================================*/

@media all  and (min-width: 600px) {
  .Main_App{
    margin: 50px;
  }
  .character_name, .race , .background, .alignment{
    font-size: 2vh;
  }
}