@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Mirza&display=swap');


/*
/============FONT ============/
font-family: 'El Messiri', sans-serif; <= body
font-family: 'Mirza', cursive; <=header
/===================================/


/=========================/
/====== COLOR ============/
red (for header)  #ab0421
light yellow/gold (main borders) #dbcb86
bond (background) #ddcfc5
old paper (background) #927350
body font #080c15
*/

body {
  padding: 1vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/paper_background.jpeg');
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #080c15;
}

.Main_App{
  background-image: url('./img/white_paper_background.jpeg');
  padding: 1vh;
}



/*====================================================================================================*/
/***********************************************HEADER************************************************/
/*====================================================================================================*/

.link{
  font-family: 'El Messiri', sans-serif; ;
  color: #080c15;
}

.meloras_root{
  font-family: 'Mirza', cursive;
  color: #ab0421;
  
}


.header_wrapper{
  display: flex;
  flex-direction: column;
}

.render_links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.user_page ,.character_creator , .header_logout, .header_login{
  font-weight: bolder;
}

.app_header{
  border-bottom: black solid thin ;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV  DESKTOPS   VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/


@media all  and (min-width: 600px) {
  .Main_App{
    margin: 50px;
  }
  .character_name, .race , .background, .alignment{
    font-size: 2vh;
  }
  textarea{
    font-size: 1.5vh;
  }

}